<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - WingWing</title>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" rel="stylesheet">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous">
    <link href = "/static/style.css" rel = "stylesheet"/>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <style type="text/css">
        .node {}

        .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>
  </head>
  <body>

  <div class = " wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">WingWing</a>
        <img src = "../static/icons/logo2.jpg">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          {% if g.user %}
            {% if request.path != "/profile/user" %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('profile.profile') }}">
                Profile <i class="fas fa-user-alt"></i>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </li>

          {% else %}
            <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#login_modal"
                href="#">Login <i class="fas fa-sign-in-alt"></i>
                <span class="sr-only">(current)</span>
              </a>

              <div class="modal fade" id="login_modal" tabindex="-1"
                aria-labelledby="login_modal_label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="login_modal_label">Login</h4>
                      <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
          			    </div>

                    <div class="modal-body">
          				     <div class="container-fluid">
          					      <form action="{{ url_for('home.index') }}"
                            method="POST">
                            <input type="text" class="form-control"
                              placeholder="Username"  name="login_username" required>
                            <br>
          						      <input type="password" class="form-control"
                              placeholder="Password"name="password" required>
                            <br>
          						      <input class="btn btn-primary" type="submit"
                              value="Login">
          					      </form>
          			        </div>
          			    </div>

          		    </div>
          	   </div>
             </div>
           </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#register_modal"
            href="#">Register
          </a>

          <div class="modal fade" id="register_modal" tabindex="-1"
            aria-labelledby="register_modal_label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="register_modal_label">Register</h4>
                  <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <form action="{{ url_for('home.index') }}" method="POST">
                      <input type="text" name="username" class="form-control"
                        placeholder="Username" required><br>
                      <input type="password" name="password_1" class="form-control"
                        placeholder="Password" required><br>
                      <input type="password" name="password_2" class="form-control"
                        placeholder="Reenter Password" required><br>
                      <input class="btn btn-primary" type="submit" value="Register">
                    </form>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </li>

        {% endif %}

        {% if request.path != "/" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.index') }}">Home
            <i class="fas fa-home"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      {% if g.user %}
      <form action="{{ url_for('home.index') }}" method="POST"
        class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#myModal">Chirp <i class="fab fa-earlybirds"></i>
        </button>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> Chirp Away!</h4>
              </div>
              <div class="modal-body">

                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <textarea name="tweet"
                    class="form-control" aria-label="With textarea" required>
                  </textarea>
                  <input type="text" name="caller"
                  {% if request.path == "/" %} value="home"
                  {% else %} value="profile"
                  {% endif %}
                    hidden>
                </div>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-toggle="modal"
                 data-target="#myModal">Chirp <i class="fab fa-earlybirds"></i>
               </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      {% endif %}

    </div>
  </nav>

  {% if g.user %}
  <div class="jumbotron jumbotron-fluid">
    <img src="{{ g.photo }}" alt="profile_pic" class = "avatar2">
  <div class="container">
    <h1 class="display-4"><i class="fab fa-slack-hash fa-5x"></i></h1>
  </div>

  </div>
  <nav class="navbar navbar-light bg-light" id = "navbar2">
    <div class = "row">

      <div class = "col1">
        <span class="navbar-brand">Chirps</span>
        <h3 class = "details">{{ g.stats['tweets'] }}</h5>
      </div>
      <div class = "col2">
          <span class="navbar-brand">Following</span>
          <h3 class = "details">{{ g.stats['following'] }}</h5>
      </div>
      <div class = "col3">
        <span class="navbar-brand">Followers</span>
        <h3 class = "details">{{ g.stats['followers'] }}</h5>
      </div>
      <div class = "col4">
        <span class="navbar-brand">Likes</span>
        <h3 class = "details">{{ g.stats['likes'] }}</h5>
      </div>
      <div class = "col5">
      <span class="navbar-brand">Rechirps</span>
      <h3 class = "details">{{ g.stats['retweets'] }}</h5>
    </div>
  </div>
</nav>
  {% endif %}
    <section class="content">

      <header>
        {% block header %}{% endblock %}
      </header>

      {% for msg in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            {{ msg }}
        </div>
      {% endfor %}
        <div id="flash-msg">
        </div>

      <div class = "mainbody">
        
        <div class = "left">
          {% block left %}{% endblock %}
        </div>
        <div class = "center">
          {% block center %}{% endblock %}
        </div>
        <div class = "right">
          {% block right %}{% endblock %}
        </div>

      </div>

    </section>

  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
  </script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous">
  </script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
  </script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
  </script>
  <script src = "/static/script.js" type = "text/javascript"></script>


  </body>
