* {
  padding: 0;
  margin: 0;
}

a:link {
	color: white;
	text-decoration: none;
}

nav a:link {
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

nav a:visited {
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.video_container nav a:hover {
	font-weight: normal;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
}

nav button:hover {
  font-weight: normal;
	text-decoration: none;
 	background-color: rgba(0, 0, 0, 0.7);
}

nav {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
}

nav ul {
	list-style: none;
}

nav.topbar ul li a, nav.topbar ul li button {
	color: white;
	background: transparent;
	display: inline;
	float: right;
	padding: 12px 30px;
	text-transform: uppercase;
	border: none;
}

nav.dropdown {
	visibility: hidden;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
  line-height: 2.5;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 15%;
  margin-left: 15%;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.video_container {
  position: relative;
}

.video_container video {
  position: relative;
  font-size: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -10;
}

.video_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85%;
  color: white;
  font-size: 7vw;
  font-style: normal;
  font-weight: 900;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.our_story {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.our_team {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.robbie_container {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-right: 0;
  margin-left: 5%;
}

.robbie_container img {
  position: relative;
  left: 10%;
  width: 35%;
  height: 45%;
  z-index: -10;
  margin-right: 0;
}

.robbie_overlay {
  position: absolute;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #009ECE;
  width: 25%;
}

.elwinjacobie_container {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 13%;
  margin-right: 5%;
  margin-left: 5%;

}

.elwinjacobie_container img {
  position: relative;
  left: 60%;
  width: 35%;
  height: 45%;
  text-align: center;
  z-index: -10;
}

.elwinjacobie_overlay1 {
  position: absolute;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #FF9E00;
  width: 25%;
}

.elwinjacobie_overlay2 {
  position: absolute;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #F7D708;
  width: 25%;
}

.ibra_container {
  position: relative;
  top: 10%;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 12%;
  margin-right: 5%;
  margin-left: 5%;
}

.ibra_container img {
  position: relative;
  left: 50%;
  width: 35%;
  height: 45%;
  text-align: center;
  z-index: -10;
}

.ibra_overlay {
  position: absolute;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  top: 70%;
  left: 37%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #CE0000;
  width: 25%;
}

.dionne_container {
  position: relative;
  top: 20%;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
}

.dionne_container img {
  position: relative;
  left: 0;
  width: 35%;
  height: 45%;
  text-align: center;
  z-index: -10;
}

.dionne_overlay {
  position: absolute;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #9CCF31;
  width: 25%;
}

.our_mission {
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-right: 0;
  margin-left: 0;
  background-color: #F7D708;
}
.mission_titles {
  font-size: 3em;
  font-style: normal;
  font-weight: 900;
}
.mission_paragraphs {
  text-align: center;
}

.contact_us {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.footer {
  width: 100%;
  background-color: rgb(204, 77, 77);
  text-align: center;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
