a:link {
	color: white;
	text-decoration: none;
}

.sidebar nav.dropdown a:link {
	text-decoration: none;
  color: white;
}

a:visited {
	color: white;
	text-decoration: none;
}

nav a:visited {
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.sidebar nav.dropdown a:hover {
	font-weight: normal;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.sidebar nav.dropdown button:hover {
  font-weight: normal;
	text-decoration: none;
 	background-color: rgba(0, 0, 0, 0.7);
}

.sidebar nav.dropdown:hover .dropdown_content {
	display: block;
}

nav {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
}

nav ul {
	list-style: none;
}

nav.topbar ul li button {
	color: white;
	background: transparent;
	display: inline;
	float: right;
	padding: 12px 30px;
	text-transform: uppercase;
	border: none;
}

.sidebar {
  position: relative;
}

.sidebar section {
  position: relative;
  width:100%;
  height:60%;
  background-color:rgb(204,77,77);
}
.sidebar-right{
  position: relative;
  top : 10%;
  width: 100%;
  height:60%;
  left:0;
  background-color:rgb(204,77,77);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sidebar-right .col2 p{
  /*float:right;*/
  position: relative;
  top : -80px;
}

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border:1px solid rgba(204,77, 77);
  border-radius: 2px;
}

.sidebar section nav {
  position:relative;
  top : 9.5%;
  width: 100%;
  height:100%;
  background: rgba(204,77, 77);
  padding: 20px;

}
.sidebar section nav ol{
  list-style: none;
  margin:0;
  padding: 0;

}
.sidebar section nav ol a{
  line-height: 80px;
  color: rgb(255,255,255);
  padding: 12px 30px;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;

}
.sidebar nav ol li a:hover{
  background: rgba(0, 0, 0, 0.7);
}
.sidesection{
  /*float: left;*/
  /*padding:15% ;*/
  padding-top: 20%;
  width: 100%;
  background-color: rgb(255,255,255);
  height: 100%;
}
.sidesection .row {

}
.sidesection .col{
  /*float: left;*/
  width:100%;
}

.sidesection .row .col{
  border-left: 6px solid #DCDCDC;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidesection .heading {
  position:relative;
  height: 40%;
  left : 0;
  font-size: 1em;
  text-decoration-color:rgba(204,77, 77);
}
.sidesection .row .col p{

  text-align: center;
  font-size: 2em;
  padding-top: 50px;

}
 .sidesection .row .col button{
   position: relative;
   top: 50%;
   left :50%;
   background-color: white;
   border: solid 2px rgba(204,77, 77);
   color: rgba(204,77, 77);;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

 button:hover {
   background-color: #4CAF50;
   color: white;
  }

.sidebar section:after {
content: "";
display: table;
clear: both;
}

nav.dropdown {
  visibility: visible;
  z-index: 3;
  float: left;
}

.sidebar nav.dropdown button {
  color: white;
  background: transparent;
  display: inline;
  padding: 12px 30px;
  border: none;
}

.sidebar nav.dropdown .dropdown_content {
  z-index: 3;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.sidebar nav.dropdown .dropdown_content a,
  .sidebar nav.dropdown .dropdown_content button {
  display: block;
  padding: 10px 12px;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: rgb(204, 77, 77);
  text-align: center;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
