a:link {
	color: white;
	text-decoration: none;
}

nav a:link {
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

nav a:visited {
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav.topbar a:hover, nav.dropdown a:hover {
	font-weight: normal;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
}

nav.dropdown button:hover {
  font-weight: normal;
	text-decoration: none;
 	background-color: rgba(0, 0, 0, 0.7);
}

.dropdown:hover .dropdown_content {
	display: block;
}

nav {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
}

nav ul {
	list-style: none;
}

nav.topbar ul li a, nav.topbar ul li button {
	color: white;
	background: transparent;
	display: inline;
	float: right;
	padding: 12px 30px;
	text-transform: uppercase;
	border: none;
}

nav.dropdown {
	visibility: hidden;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  background: url("../images/traveller_register.jpg") no-repeat center center fixed;
  background-size: cover;
}

h4 {
  color: rgb(204, 77, 77);
}

.wrapper {
  background-color: white;
  padding: 2%;
  border-radius: 1%;
  width: 50%;
  min-width: 280px;
  height: auto;
  position: absolute;
  left: 10%;
  margin-left: 10%;
  top: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  opacity: 0.80;
}

#fileToUpload {
	background-color: rgb(204, 77, 77);
	color: white;
	border-color: white;
	border-style: solid;
	padding: 5px;
	border-radius: 12px;
}
#fileToUpload:hover {
	border-color: rgb(204, 77, 77);
	border-style: outset;
}

button {
	background-color: rgb(204, 77, 77);
	color: white;
	border-color: white;
	border-style: solid;
	padding: 5px;
	border-radius: 12px;
}
button:hover {
	border-color: rgb(204, 77, 77);
	border-style: outset;
}

input[type=text], input[type=email], input[type=password] , input[type=date]{
	border: solid;
	border-color: rgb(204, 77, 77);
	border-width: 1px;
	border-radius: 20px;
	padding: 5px 5px;
  margin-bottom: 2%;
}

select {
  border: solid;
	border-color: rgb(204, 77, 77);
	border-width: 1px;
	border-radius: 20px;
	padding: 5px 5px;
}

textarea {
  width: 95%;
  height: auto;
  margin-bottom: 10%;
  border-color: rgb(204, 77, 77);
}

@media screen and (max-width: 1150px) {
	nav.topbar {
		visibility: hidden;
	}

	nav.dropdown {
		visibility: visible;
		z-index: 3;
		float: left;
	}

	nav.dropdown button {
		color: white;
		background: transparent;
		display: inline;
		padding: 12px 30px;
		border: none;
    border-radius: 0;
	}

	.dropdown_content {
		z-index: 3;
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.dropdown_content a, .dropdown_content button {
		display: block;
		padding: 10px 12px;
		text-align: center;
	}
}
