a:link {
	color: white;
	text-decoration: none;
}

.slider nav.topbar a:link {
	text-decoration: none;
  font-weight: normal;
}

a:visited {
	color: white;
	text-decoration: none;
}

.slider nav a:visited {
	text-decoration: none;
  text-weight: normal;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.slider nav.topbar a:hover, .slider nav.dropdown a:hover {
	font-weight: normal;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
}

.slider nav.topbar button:hover, .slider nav.dropdown button:hover {
  font-weight: normal;
	text-decoration: none;
 	background-color: rgba(0, 0, 0, 0.7);
}

.dropdown:hover .dropdown_content {
	display: block;
}

nav {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
}

nav ul {
	list-style: none;
}

.slider nav.topbar ul li a, nav.topbar ul li button {
	color: white;
	background: transparent;
	display: inline;
	float: right;
	padding: 12px 30px;
	text-transform: uppercase;
	border: none;
}

nav.dropdown {
	visibility: hidden;
}

@media screen and (max-width: 1150px) {
	nav.topbar {
		visibility: hidden;
	}

	nav.dropdown {
		visibility: visible;
		z-index: 3;
		float: left;
	}

	nav.dropdown button {
		color: white;
		background: transparent;
		display: inline;
		padding: 12px 30px;
		border: none;
    box-shadow: none;
    left: 0;
	}

	.dropdown_content {
		z-index: 3;
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.dropdown_content a, .dropdown_content button {
		display: block;
		padding: 10px 12px;
		text-align: center;
	}
}
